@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Krub', sans-serif;
}

body{
    background: #EAEBEF;
    margin: auto;
    /* font-family: 'Poppins', sans-serif; */
}

.titulo {
    /*text-transform: uppercase;*/
    color: #FFC107;
    text-align: center;
    padding: .5rem;
}

.titulo span {
    font-size: 4rem;
    padding: 0;
    color: #0097A7;
    text-transform: none;
}
@media (min-width: 768px){
    .contenedor-grid {
        display: grid;
        margin-left: auto;  
        margin-right: auto;              
        grid-template-columns: 350px 2fr;        
        max-width: 1000px;
    }
}

.sidebar-1 {
    padding: 0 3rem;
    margin: auto;
       
}

.sidebar-1 h2{    
    padding: 0.5rem 0 ;
    font-size: 1rem;
}

.sidebar-1 p{
    text-align: justify;
    margin-bottom: 2rem;
}

.nav{
    width: 350px;
    margin: auto; 
    margin-bottom: 2rem;  
}

.nav__link{
    color: #303440;
    display: block;
    padding: 15px 0;
    text-decoration: none;
}

.nav__link--inside{
    border-radius: 6px ;
    padding-left: 20px;
    text-align: left;
}

.nav__link--inside:hover{
    background: #F6F8FA;
}

.list{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 0 16px 16px 0;
    background: #DFE9F3;
}

.list__item{
    list-style: none;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.list__item--click{
    cursor: pointer;
}

.list__button{
    display: flex;
    align-items: center;
    gap: 1em;
    width: 70%;
    margin: 0 auto;
}

.arrow .list__arrow{
    transform: rotate(90deg);
}

.list__arrow{
    margin-left: auto;
    transition: transform .3s;
}

.list__show{
    width: 80%;
    margin-left: auto;
    border-left: 2px solid #303440;
    list-style: none;
    transition: height .4s;
    height: 0;
}